@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#root {
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  background-color: #3A3A3A;
  font-family: 'Inter';
}

#container {
  width: 90vw;
  min-height: 80vh;
  border: solid 18px #969696;
  border-radius: 15px;
  display: grid;
  color: #FFFFFF;
}

#a-fazer {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#fazendo {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#feito {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  flex-direction: column;
}
